/* ===============
    Global Styles
   =============== */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  user-select: none;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr;
  justify-items: center;
  padding: 10px;
  gap: 20px;
}

/* ============
    Typography
   ============ */

h2 {
  color: white;
  font-weight: bold;
}

/* ========
    Layout
   ======== */
    /* ------------
        Option Bar
       ------------ */

.options-bar {
  background-color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.grid-selector {
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

#grid-size {
  cursor: pointer;
  appearance: none;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 0 0 12px white;
}

    /* -------------
        Sketch Area
       ------------- */

.sketch-area {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  height: 100%;
  box-shadow: 0 0 15px white;
}

.sketch-area div {
  display: flex;
  flex-grow: 1;
}

/* ============
    Components
   ============ */
    /* --------
        Button
       -------- */

.button {
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 1px white, 0 3px 12px white
}

.button:active {
  box-shadow: 0 0 0 white;
  transform: scale(0.95);
}

.active {
  box-shadow: 0 1px 0 white, 0 3px 5px white;
  background: linear-gradient(45deg,
    rgba(255,0,0,1) 0%,
    rgba(255,154,0,1) 10%,
    rgba(208,222,33,1) 20%,
    rgba(79,220,74,1) 30%,
    rgba(63,218,216,1) 40%,
    rgba(47,201,226,1) 50%,
    rgba(28,127,238,1) 60%,
    rgba(95,21,242,1) 70%,
    rgba(186,12,248,1) 80%,
    rgba(251,7,217,1) 90%,
    rgba(255,0,0,1) 100%
  );
}