/* ===============
    Global Styles
   =============== */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  user-select: none;
  background-color: black;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-items: center;
  padding: 10px;
  gap: 20px;
}

/* ============
    Typography
   ============ */

h2 {
  color: white;
  font-weight: bold;
}

/* ========
    Layout
   ======== */

.sketch-area {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  height: 100%;
}

.innerDiv {
  flex-grow: 1;
  border: 1px solid #e7e7e7;
}

.newDiv {
  display: flex;
  flex-grow: 1;
}

.sketch-area > div > div {
  flex-grow: 1;
}

.options-bar {
  background-color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  gap: 20px;
}

.grid-selector {
  background-color: black;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}

/* ============
    Components
   ============ */
    /* --------
        Button
       -------- */

.button {
  background-color: white;
  border: 1px solid black;
  border-radius: 7px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 1px white;
}

.button:active {
  box-shadow: 0 0 0 white;
  transform: scale(0.95);
}
