/* ===============
    Global Styles
   =============== */

:root {
  --main-blue: #1F2937;
  --light-cyan-blue: #E5E7EB;
  --light-blue: #3882F6;
  --font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
                "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* ============
    Typography
   ============ */

h1 {
  color: #F9FAF8;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 45px;
}

h2 {
  color: var(--main-blue);
  font-size: Clamp(2rem, 1rem + 3vw, 3rem);
  font-family: Hero, sans-serif;
  font-weight: 800;
  white-space: nowrap;
}

h3 {
  font-size: 1.7rem;
}

/* ========
    Layout
   ======== */
    /* --------
        Navbar
       -------- */
nav {
  background-color: var(--main-blue);
  color: white;
  border-bottom: 1px solid white;
  padding: 20px;
  position: sticky;
  z-index: 1;
  top: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 75px;
  height: 75px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav li {
  border-bottom: 1px solid var(--main-blue);
  font-size: Clamp(1.5rem, 1rem + 1vw, 3rem)
}

nav li:hover {
  cursor: pointer;
  border-bottom-color: white;
}

    /* --------------
        Main Section
       -------------- */

.main-section {
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
  padding: 60px 20% 60px 20%;
  gap: 60px;
}

.main-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
}

.main-section p {
  font-size: Clamp(1rem, 1rem + 1vw, 2rem);
}

.main-section-image {
  border-radius: 31px;
  width: 250px;
  height: 250px;
}

    /* ---------
        Gallery
       --------- */

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.dog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

    /* ---------------
        Quote Section
       --------------- */

.quote {
  background-color: var(--light-cyan-blue);
  color: var(--main-blue);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20% 50px 20%;
}

.quote-text {
  font-family: light-italic, sans-serif;
  font-size: 38px;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

    /* -----------
        Adopt Bar
       ----------- */

.adopt-bar-section {
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 50px 20% 50px 20%;
  gap: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.adopt-bar-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

    /* --------
        Footer
       -------- */

footer {
  background-color: var(--main-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  margin-top: auto;
}

/* ============
    Components
   ============ */
    /* --------
        Button
       -------- */

.white-border-button {
  background-color: var(--light-blue);
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border: 2px white solid;
  border-radius: 5px;
}

.white-border-button:hover {
  background-color: white;
  color: var(--main-blue);
  border-color: var(--main-blue);
  cursor: pointer;
}

.blue-button {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(255 255 255 / 50%);
}

.blue-button:hover {
  background-color: var(--main-blue);
  border-color: white;
  cursor: pointer;
}

    /* -------
        Cards
       ------- */

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.card img {
  border: 3px solid var(--light-blue);
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.card img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}

.card p {
  font-family: sans-serif;
  font-size: Clamp(1rem, 0.5rem + 1vw, 2rem);
  font-weight: bold;
  color: #6a6a72;
}

.card p:hover {
  cursor: pointer;
  color: black;
}