/* ===============
    Global Styles
   =============== */

:root {
  --nav-padding: 0rem;
  --nav-logo-size: 0rem;
  --nav-size: calc(calc(var(--nav-padding-y) * 2) + var(--nav-logo-size));
  --main-blue: #1F2937;
  --light-cyan-blue: #E5E7EB;
  --light-blue: #3882F6;
  --font-stack: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
                "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #F9FAF8;
  font-family: sans-serif;
  font-weight: 700;
}

h2 {
  color: var(--main-blue);
  font-size: 1rem;
  font-family: Hero, sans-serif;
  font-weight: 800;
  white-space: nowrap;
}

h3 {
  font-size: 1.7rem;
}

nav {
  background-color: var(--main-blue);
  box-shadow: 0 2px 1px rgba(0,0,0,0.4);
  color: white;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  position: sticky;
  z-index: 1;
  top: 0;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: var(--nav-logo-size);
  height: auto;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav li {
  border-bottom: 1px solid var(--main-blue);
  white-space: nowrap;
}

nav li:hover {
  cursor: pointer;
  border-bottom-color: white;
}

.main-section {
  min-height: calc(100vh - var(--nav-size));
  background-color: var(--main-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: white;
  text-align: center;
  padding: 1rem;
}

.main-section p {
  font-size: Clamp(1rem, 1rem + 1vw, 2rem);
}

.main-section-image {
  border-radius: 31px;
  flex: 0 1 40%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
}

.dog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.quote {
  background-color: var(--light-cyan-blue);
  color: var(--main-blue);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20%;
}

.quote-text {
  font-family: light-italic, sans-serif;
  font-size: 38px;
}

.quote-author {
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.adopt-bar-section {
  background-color: var(--light-blue);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 50px 20%;
  gap: 10px;
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

.adopt-bar-info {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  background-color: var(--main-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: auto;
}

.white-border-button {
  background-color: var(--light-blue);
  color: white;
  padding: 8px 16px;
  font-weight: bold;
  border: 2px white solid;
  border-radius: 5px;
}

.white-border-button:hover {
  background-color: white;
  color: var(--main-blue);
  border-color: var(--main-blue);
  cursor: pointer;
}

.blue-button {
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgb(255 255 255 / 50%);
  transition: background-color 0.2s;
}

.blue-button:hover {
  background-color: var(--main-blue);
  border-color: white;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.card img {
  border: 3px solid var(--light-blue);
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.card img:hover {
  transform: scale(1.03);
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
}

.card p {
  font-family: sans-serif;
  font-size: Clamp(1rem, 0.5rem + 1vw, 2rem);
  font-weight: bold;
  color: #6a6a72;
}

.card p:hover {
  cursor: pointer;
  color: black;
}

@media (max-width: 640px) {
  :root {
    --nav-padding-y: 0.5rem;
    --nav-logo-size: 3rem;
  }

  nav {
    padding: var(--nav-padding-y);
    gap: 1rem;
  }

  nav ul {
    gap: 1rem;
  }

  nav li {
    font-size: 0.8rem;
    white-space: nowrap;
  }

  .main-section-image {
    display: none;
  }

  h1 {
    font-size: 2.3rem;
  }
}

@media (min-width: 640px) {
  :root {
    --nav-padding-y: 0.5rem;
    --nav-logo-size: 3.5rem;
  }

  .main-section-image {
    width: 0;
    padding: 1rem;
  }

  nav {
    padding: var(--nav-padding-y) 2rem;
  }

  nav li {
    font-size: 1.4rem;
  }

  .main-section-info {
    flex: 0 1 60%;
  }
}

@media (min-width: 1024px) {
  :root {
    --nav-padding-y: 0.5rem;
    --nav-logo-size: 4rem;
  }

  .main-section-image {
    padding: 3rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  nav ul {
    gap: 3rem;
  }

  nav li {
    font-size: 1.8rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }

  .main-section-image {
    padding: 5rem;
  }
}

@media (min-width: 1536px) {
  :root {
    --nav-logo-size: 6rem;
  }

  .main-section-image {
    padding: 6rem;
  }

  h1 {
    font-size: 5rem;
  }

  nav ul {
    gap: 3rem;
  }

  nav li {
    font-size: 3rem;
  }
}