/* Share Tech Mono */
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');

/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-page: #0C121D;
  --background: #C6CCD2;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red */;
}

body {
  background-color: black;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  min-height: 100vh;
  flex-direction: column-reverse;
  padding: 0.5rem;
}

h3 {
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.hand-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  border: 5px inset white;
}

.character-image {
  width: 45px;
  height: 45px;
}

.result-section {
  background-color: white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 10px;
  box-shadow: 0 0 7px white;
}

.player {
  background-color: rgb(227, 227, 227);
  display: flex;
  align-items: center;
  border: 5px inset white;
  box-shadow: 0 0 7px white;
}

.controlled {
  align-self: start;
}

.computer {
  align-self: end;
}

.scoreboard {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  background-color: white;
  font-size: 2rem;
  min-width: 3rem;
  min-height: 3.3rem;
  padding: 8px 14px;
  font-weight: bold;
  box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

.round-counter {
  background-color: white;
  position: absolute;
  text-align: center;
  top: 3%;
  font-weight: bold;
  font-size: 2rem;
  box-shadow: 0 0 5px white;
  z-index: 1;
}

.round-number {
  font-family: 'Tourney', cursive;
  min-height: 2.8rem;
  line-height: 45px;
}

.game-over-screen {
  background-color: white;
  box-shadow: 0 0 5px white, 0 0 0 110vh rgba(0,0,0,0.9);
  border: 5px outset rgba(225,225,225);
  display: flex;
  flex-direction: column;
  font-weight: bold;
  position: absolute;
  animation: showOnScreen 0.3s;
  z-index: 100;
  padding: 0.5rem;
}

.game-over-screen h2 {
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
}

.new-game-button {
  background-color: red;
  color: white;
  align-self: center;
  padding: 7px 5px;
  cursor: pointer;
  font-weight: bolder;
  box-shadow: 0px 5px 0px 0 rgba(255,0,0,8);
  border: 1px solid rgba(0,0,0,0.5);
  transition: 0.2s all;
}

.new-game-button:active {
  box-shadow: 0px 0px 0px 0 rgba(255,0,0,8);
  transform: translateY(5px);
}

.card {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
  border: 5px outset rgba(0,0,0,0.2);
  scale: 0.9;
}

.player-card {
  cursor: pointer;

}

.player-card:hover {
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.25);
  transform: scale(1.05);
}

.hide-card {
  cursor: none;
  z-index: 0;
}

.computer-card:hover {
  cursor: not-allowed;
}

@media (max-width: 640px) {
  .round-counter {
    display: none;
  }
}

@media (min-width: 640px) {
  body {
    padding: 1rem;
  }
}

@media (min-width: 800px) {
  .card {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 100px;
    height: 100px;
  }

  .character-image {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 1520px) {
  .card {
    width: 125px;
    height: 125px;
  }

  h3,
  .round-number {
    font-size: 3.5rem;
    padding: 0.5rem;
  }

  .game-over-screen > h2 {
    font-size: 1.5rem;
  }


  .game-over-screen > button {
    font-size: 1.2rem;
  }
}

@media (min-width: 1720px) {
  .card {
    width: 150px;
    height: 150px;
  }

  .game-over-screen {
    padding: 1.2rem;
  }

  .game-over-screen > h2 {
    font-size: 1.7rem;
  }


  .game-over-screen > button {
    font-size: 1.5rem;
  }
}


@keyframes showOnScreen {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}